extends layout 

block content 
    div(class="main-content form-container")
        h1 Send a message!
        form(action="/new" method="POST")
            fieldset
                div
                    label(for="messageUser") User name
                    input(type="text" name="messageUser" required=true)
                div
                    label(for="messageText") Message
                    textarea(name="messageText" required=true)
            button Send