extends layout

block content
  div(class="message-board")
      if messages
        ul(class="messages")
          each val, index in messages
            div(class="message")
              div(class="user-info")
                span= val.user
                div(class="message-image")
              div(class="speech-bubble " + colors[index] + "-bubble")
                p= val.text
      else 
        h2 There's no messages...
