doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
        div(class="logo")
          span mini 
          div(class="speech-bubble left")
            span message
          div(class="speech-bubble right")
            span board
        div(class="links")
          a(href="/") Board
          a(href="/new") New
    block content
