doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
        div(class="logo")
        div(class="links")
          a(href="/") Board
          a(href="/new") New
    block content
