@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: border-box;
}

:root {
    --bg-color: hsl(223, 55%, 94%);
    --primary-color: hsl(212, 100%, 50%);
    --secondary-color: hsl(194, 100%, 50%);
}

body,
html {
    height: 100vh;
}

body {
    font-family: 'Jost', sans-serif;
    padding: 1em;
    background-color: var(--bg-color);
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

header {
    background-color: var(--primary-color);
    border-radius: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 3em;
}

.speech-bubble {
    width: 100%;
    border-radius: 1.5em;
    z-index: 1;
    font-size: 24px;
    display: grid;
}
.speech-bubble.right {
    transform: rotateY(180deg);
}
.speech-bubble.right > span,
.speech-bubble.right > p {
    transform: rotateY(-180deg);
    justify-self: left;
}
.speech-bubble::before {
    content: '';
    width: 0;
    height: 0;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 20px solid currentColor;

    position: absolute;
    z-index: -1;
    transform: translate(-60%, 80%) rotate(60deg) scale(0.8);
}

header .speech-bubble:first-of-type {
    background-color: var(--secondary-color);
    color: var(--secondary-color);
}
header .speech-bubble:first-of-type span {
    color: white;
    padding-left: 1rem;
}

header .speech-bubble:last-of-type {
    background-color: white;
    color: white;
}
header .speech-bubble:last-of-type span {
    color: black;
    padding-right: 1rem;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.25rem;
    font-weight: 600;

    max-width: 150px;
}

.logo > span {
    color: white;
    font-size: 18px;
}
